.background {
  height: 150rem;
  background-color: #001633;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background .title {
  position: absolute;
  width: 70vw;
  margin: 0 auto;
  top: 9rem;
}

.background .title h1 {
  color: #fff;
  font-size: 3.5rem;
}

.background .contents {
  width: 70vw;
  margin: 20.3rem auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background .contents .box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background .contents .box1 .textBox {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.background .contents .box1 .textBox img {
  width: 40px;
  height: 40px;
}

.background .contents .box1 .textBox h1 {
  color: #fff;
  font-size: 2.5rem;
  margin: 0 1rem;
}

.background .contents .box1 p {
  color: #fff;
  margin-top: 1rem;
  font-size: 1.7rem;
  text-align: center;
}

.background .contents .box1 .gift {
  margin: 0 auto;
  margin-top: 2rem;
  width: 100%;
  height: 100%;
}

.background .contents .box2 {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background .contents .box2 h1 {
  font-size: 2rem;
  margin-top: 1rem;
  color: #5ae676;
}

.background .contents .box2 table {
  width: 100%;
  border-top: 1px solid #8a8fc1;
  border-collapse: collapse;
  margin-top: 1rem;
}

.background .contents .box2 td {
  color: #fff;
  border-bottom: 1px solid #8a8fc1;
  padding: 10px;
  font-size: 1.4rem;
  line-height: 2rem;
}

.background .contents .box2 td:first-child {
  border-right: 1px solid #8a8fc1;
}

.background .contents .box2 img {
  width: 70px;
  height: 70px;
}

.background .contents .box3 {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background .contents .box3 h1 {
  font-size: 2rem;
  margin-top: 1rem;
  color: #5ae676;
}

.background .contents .box3 table {
  width: 100%;
  border-top: 1px solid #8a8fc1;
  border-collapse: collapse;
  margin-top: 1rem;
}

.background .contents .box3 td {
  color: #fff;
  border-bottom: 1px solid #8a8fc1;
  padding: 10px;
  font-size: 1.4rem;
  line-height: 2rem;
}

.background .contents .box3 td:first-child {
  border-right: 1px solid #8a8fc1;
}

.background .contents .box3 img {
  width: 70px;
  height: 70px;
}

.background .contents .box4 {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background .contents .box4 h1 {
  font-size: 2rem;
  margin-top: 1rem;
  color: #5ae676;
}

.background .contents .box4 table {
  width: 100%;
  border-top: 1px solid #8a8fc1;
  border-collapse: collapse;
  margin-top: 1rem;
}

.background .contents .box4 td {
  color: #fff;
  border-bottom: 1px solid #8a8fc1;
  padding: 10px;
  font-size: 1.4rem;
  line-height: 2rem;
}

.background .contents .box4 td:first-child {
  border-right: 1px solid #8a8fc1;
}

.background .contents .box4 img {
  width: 70px;
  height: 70px;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .background {
    height: 140rem;
  }

  .background .title {
    top: 6rem;
  }

  .background .contents {
    margin-top: 16.3rem;
  }

  .background .contents .box1 h1,
  .background .contents .box2 h1,
  .background .contents .box3 h1,
  .background .contents .box4 h1 {
    font-size: 1.8rem;
  }

  .background .contents .box1 table td,
  .background .contents .box2 table td,
  .background .contents .box3 table td,
  .background .contents .box4 table td {
    font-size: 1.2rem;
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .background {
    height: 120rem;
  }

  .background .title {
    top: 6rem;
  }

  .background .title h1 {
    font-size: 2.5rem;
  }

  .background .contents {
    margin-top: 13.3rem;
  }

  .background .contents .box1 p {
    font-size: 1.3rem;
  }

  .background .contents .box2,
  .background .contents .box3,
  .background .contents .box4 {
    margin-top: 6.3rem;
  }

  .background .contents .box1 .textBox {
    margin: 0 auto;
  }

  .background .contents .box1 .textBox img {
    width: 30px;
    height: 30px;
  }

  .background .contents .box1 .textBox h1 {
    font-size: 1.4rem;
  }

  .background .contents .box1 table,
  .background .contents .box2 table,
  .background .contents .box3 table,
  .background .contents .box4 table {
    width: 26rem;
  }

  .background .contents .box1 table td,
  .background .contents .box2 table td,
  .background .contents .box3 table td,
  .background .contents .box4 table td {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .background .contents .box1 h1,
  .background .contents .box2 h1,
  .background .contents .box3 h1,
  .background .contents .box4 h1 {
    font-size: 1.5rem;
  }

  .background .contents .box1 img,
  .background .contents .box2 img,
  .background .contents .box3 img,
  .background .contents .box4 img {
    width: 50px;
    height: 50px;
  }
}

@media all and (max-width: 479px) {
  .background {
    height: 95rem;
  }

  .background .title {
    top: 6rem;
  }

  .background .title h1 {
    font-size: 2rem;
  }

  .background .contents {
    margin-top: 12.3rem;
  }

  .background .contents .box1 p {
    font-size: 0.8rem;
  }

  .background .contents .box1 .textBox {
    margin: 0 auto;
  }

  .background .contents .box1 .textBox img {
    width: 20px;
    height: 20px;
  }

  .background .contents .box1 .textBox h1 {
    font-size: 1.1rem;
    margin: 0 0.5rem;
  }

  .background .contents .box2,
  .background .contents .box3,
  .background .contents .box4 {
    margin-top: 5.3rem;
  }

  .background .contents .box1 table,
  .background .contents .box2 table,
  .background .contents .box3 table,
  .background .contents .box4 table {
    width: 21rem;
  }

  .background .contents .box1 table td,
  .background .contents .box2 table td,
  .background .contents .box3 table td,
  .background .contents .box4 table td {
    font-size: 0.6rem;
    line-height: 1rem;
  }

  .background .contents .box1 h1,
  .background .contents .box2 h1,
  .background .contents .box3 h1,
  .background .contents .box4 h1 {
    font-size: 1.2rem;
  }

  .background .contents .box1 img,
  .background .contents .box2 img,
  .background .contents .box3 img,
  .background .contents .box4 img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1445px) {
  .background .contents,
  .background .title {
    width: 70vw;
  }
}

@media (max-width: 1384px) {
  .background .contents,
  .background .title {
    width: 80vw;
  }
}

@media (max-width: 1210px) {
  .background .contents,
  .background .title {
    width: 90vw;
  }
}

@media (max-width: 1080px) {
  .background .contents,
  .background .title {
    width: 90vw;
  }
}
