.background {
  height: 118rem;
  background-color: #001633;
  display: flex;
}

.background .contents {
  width: 67vw;
  margin: 10.3rem auto 0 auto;
}

.background .contents h1 {
  color: #fff;
  font-size: 3.5rem;
}

.background .contents table {
  width: 100%;
  border-top: 1px solid #696b6f;
  border-collapse: collapse;
  margin-top: 8rem;
}

.background .contents td {
  color: #fff;
  border-bottom: 1px solid #696b6f;
  padding: 10px;
  height: 4rem;
  font-size: 1.2rem;
}

.background .contents td:nth-child(2) {
  font-size: 1rem;
}
