.background {
  height: 60rem;
  margin: 0 auto;
  background-color: #011633;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  position: relative;
}

.top span {
  position: absolute;
  color: #6565fa;
  top: 2rem;
  right: 2rem;
  font-size: 2.2rem;
  font-weight: 800;
}

.middle {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.middle .text1 {
  font-size: 2.8rem;
  font-weight: 400;
  color: #5ae676;
  text-align: center;
}

.middle .text2 {
  font-size: 3.4rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.middle .text3 {
  font-size: 1.7rem;
  font-weight: 400;
  color: #5ae676;
  text-align: center;
}

.bottom {
  width: 100%;
  height: 6rem;
  background-color: #000;
}

@media (max-width: 1240px) {
  .middle .text1 {
    font-size: 2.5rem;
  }

  .middle .text2 {
    font-size: 3.1rem;
  }

  .middle .text3 {
    font-size: 1.4rem;
  }
}

@media (max-width: 1100px) {
  .middle .text1 {
    font-size: 2.2rem;
  }

  .middle .text2 {
    font-size: 2.8rem;
  }
}

@media (max-width: 960px) {
  .middle .text1 {
    font-size: 1.9rem;
  }

  .middle .text2 {
    font-size: 2.5rem;
  }

  .middle .text3 {
    font-size: 1.3rem;
  }
}

@media (max-width: 860px) {
  .middle .text1 {
    font-size: 1.6rem;
  }

  .middle .text2 {
    font-size: 2.2rem;
  }

  .middle .text3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 760px) {
  .middle {
    height: 25rem;
  }

  .middle .text1 {
    font-size: 1.4rem;
  }

  .middle .text2 {
    font-size: 2rem;
  }

  .middle .text3 {
    font-size: 1.1rem;
  }
}

@media (max-width: 660px) {
  .middle .text1 {
    font-size: 1.2rem;
  }

  .middle .text2 {
    font-size: 1.8rem;
  }

  .middle .text3 {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .middle .text2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 460px) {
  .middle .text1 {
    font-size: 1.1rem;
  }

  .middle .text3 {
    font-size: 0.7rem;
  }
}

@media (max-width: 460px) {
  .middle {
    height: 20rem;
  }

  .middle .text1 {
    font-size: 1.1rem;
  }

  .middle .text3 {
    font-size: 0.7rem;
  }
}

@media (max-width: 340px) {
  .middle .text1 {
    font-size: 1rem;
  }

  .middle .text3 {
    font-size: 0.5rem;
  }
}
