.background {
  height: 60rem;
  margin: 0 auto;
  background-color: #011633;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  position: relative;
}

.top span {
  position: absolute;
  color: #6565fa;
  top: 2rem;
  right: 2rem;
  font-size: 2.2rem;
  font-weight: 800;
}

.middle {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.middle .text1 {
  font-size: 2.8rem;
  font-weight: 400;
  color: #5ae676;
  text-align: center;
}

.middle .text2 {
  font-size: 3.4rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.middle .text3 {
  font-size: 1.7rem;
  font-weight: 400;
  color: #5ae676;
  text-align: center;
  line-height: 3rem;
}

.bottom {
  width: 100%;
  height: 6rem;
  background-color: #000;
}

.bottom .marquee {
  height: 100%;
  color: #6565fa;
  font-size: 2rem;
  font-weight: 800;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .middle {
    height: 25rem;
  }

  .middle .text1 {
    font-size: 1.6rem;
  }

  .middle .text2 {
    font-size: 2.2rem;
  }

  .middle .text3 {
    font-size: 1.1rem;
  }

  .bottom {
    height: 5rem;
  }

  .bottom .marquee {
    font-size: 1.7rem;
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .middle {
    height: 25rem;
  }

  .middle .text1 {
    font-size: 1.4rem;
  }

  .middle .text2 {
    font-size: 1.8rem;
  }

  .middle .text3 {
    font-size: 1.2rem;
  }

  .bottom {
    height: 4.5rem;
  }

  .bottom .marquee {
    font-size: 1.5rem;
  }
}

@media all and (max-width: 479px) {
  .top span {
    font-size: 1.5rem;
  }

  .middle {
    height: 20rem;
  }

  .middle .text1 {
    font-size: 1rem;
  }

  .middle .text2 {
    font-size: 1.5rem;
  }

  .middle .text3 {
    font-size: 0.75rem;
    line-height: 1.5rem;
  }

  .bottom {
    height: 4rem;
  }

  .bottom .marquee {
    font-size: 1.2rem;
  }
}
