.background {
  position: relative;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6045e4;
}

.background span {
  position: absolute;
  color: #011633;
  top: 2rem;
  right: 2rem;
  font-size: 2.2rem;
  font-weight: 800;
}

.background .contents {
  width: 70vw;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background .contents .text .title {
  font-size: 3.8rem;
  font-weight: 800;
  color: #fff;
}

.background .contents .text .subTitle {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}

.background .contents .cards .swiper {
  width: 70vw;
  background-color: #c3c3c361;
  display: none;
}

.background .contents .cards {
  margin: 0 auto;
}

.background .contents .cards .card {
  width: 19.2rem;
  height: 31rem;
  margin: 0.7rem;
  background-color: #000;
  border-radius: 10px;
  display: inline-block;
}

.background .contents .cards .card .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background .contents .cards .card .info .title {
  margin-top: 2.6rem;
  color: #5ae676;
  text-align: center;
}

.background .contents .cards .card .info .name {
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 2rem;
}

.background .contents .cards .card .info .company {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 1rem;
}

@media (max-width: 1885px) {
  .background .contents .cards .card {
    display: none;
  }
  .background .contents .cards .swiper {
    display: block;
  }
}

@media (max-width: 550px) {
  .background {
    height: 50rem;
  }

  .background .contents {
    height: 38rem;
  }

  .background .contents .text .title {
    font-size: 2rem;
    font-weight: 800;
    color: #fff;
  }

  .background .contents .text .subTitle {
    font-size: 0.5rem;
    font-weight: 400;
    color: #fff;
  }
}

@media (max-width: 380px) {
  .background {
    height: 45rem;
  }

  .background .contents {
    height: 32rem;
  }
}
