.background {
  height: 105rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #011633;
}

.background .contents {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background .text {
  width: 80vw;
  margin: 0 auto;
}

.background .text .title {
  font-size: 3.8rem;
  font-weight: 800;
  color: #fff;
}

.background .contents .mapArea {
  text-align: center;
  width: 60vw;
  margin: 0 auto;
}

.background .contents .mapArea p {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

.background .contents .mapArea .map {
  margin: 0 auto;
  margin-top: 3.5rem;
  width: 80%;
  height: 28rem;
  border-radius: 10px;
}

.background .contents .traffic {
  width: 60vw;
  margin: 0 auto;
  margin-top: 13rem;
}

.background .contents .traffic h2,
.background .contents .traffic p,
.background .contents .traffic li {
  color: #d9d9d9;
  line-height: 1.8rem;
}

.background .contents .traffic h2 {
  font-size: 2rem;
}

.background .contents .traffic p {
  font-size: 1.1rem;
}

.background .contents .traffic li {
  margin-left: 1rem;
}

.background .contents .traffic .trail p {
  margin-top: 1rem;
}

.background .contents .traffic .bus {
  margin-top: 4rem;
}

.background .contents .traffic .bus .container {
  margin-top: 1rem;
  display: flex;
}

.background .contents .traffic .bus .container .two {
  margin-left: 7rem;
}

.background .contents .traffic .parking {
  margin-top: 4rem;
}

.background .contents .traffic .parking p {
  margin-top: 1rem;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .background {
    height: 100rem;
  }

  .background .contents .traffic,
  .background .contents .mapArea {
    width: 70vw;
  }

  .background .contents .mapArea .map {
    width: 90%;
    height: 20rem;
  }

  .background .contents .traffic .bus .container .two {
    margin-left: 3rem;
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .background {
    height: 75rem;
  }

  .background .text .title {
    font-size: 2rem;
  }

  .background .contents .traffic,
  .background .contents .mapArea {
    width: 80vw;
  }

  .background .contents .traffic {
    margin-top: 5rem;
  }

  .background .contents .mapArea .map {
    width: 100%;
    height: 15rem;
  }

  .background .contents .mapArea p {
    font-size: 1.5rem;
  }

  .background .contents .traffic p,
  .background .contents .traffic li {
    font-size: 0.8rem;
  }

  .background .contents .traffic .bus .container .two {
    margin-left: 0;
  }
}

@media all and (max-width: 479px) {
  .background {
    height: 70rem;
  }

  .background .text .title {
    font-size: 2rem;
  }

  .background .contents .traffic,
  .background .contents .mapArea {
    width: 80vw;
  }

  .background .contents .traffic {
    margin-top: 5rem;
  }

  .background .contents .mapArea .map {
    width: 100%;
    height: 11rem;
  }

  .background .contents .traffic h2 {
    font-size: 1.5rem;
  }

  .background .contents .mapArea p {
    font-size: 1.3rem;
  }

  .background .contents .traffic p,
  .background .contents .traffic li {
    font-size: 0.7rem;
  }

  .background .contents .traffic .bus .container .two {
    margin-left: 0;
  }
}

@media (max-width: 1445px) {
  .background .text {
    width: 70vw;
  }
}

@media (max-width: 1384px) {
  .background .text {
    width: 80vw;
  }
}

@media (max-width: 1210px) {
  .background .text {
    width: 90vw;
  }
}

@media (max-width: 1080px) {
  .background .text {
    width: 90vw;
  }
}
