.background {
  position: absolute;
  width: 100%;
  background-color: #000;
}

.container {
  width: 67vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav li {
  display: inline-block;
  width: 8rem;
  height: 100%;
  list-style: none;
  line-height: 6rem;
}

.li_left {
  text-align: left;
}

.li_center {
  text-align: center;
}

.li_right {
  text-align: right;
}

li a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #fff;
}
