.background {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.753);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background .container {
  position: relative;
  width: 28rem;
  height: 35rem;
  border-radius: 20px;
  background-color: #0a0e37;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background .container .exitBtn {
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
  font-size: 2rem;
  border: none;
  background-color: #0a0e37;
  color: #fff;
  cursor: pointer;
}

.background .container .title,
.background .container .subTitle {
  color: #fff;
  text-align: center;
}
.background .container .title {
  color: #5ae676;
  margin-bottom: 0.8rem;
}

.background .container .btnArea {
  width: 21.3rem;
  margin-top: 0.8rem;
  margin-bottom: -0.8rem;
}

.background .container .btnArea .btn {
  width: 21.3rem;
  height: 3.8rem;
  margin-top: 1.1rem;
  color: #fff;
  background-color: #6045e4;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 10px;
}

@media (max-width: 550px) {
  .background .container {
    width: 60%;
  }

  .background .container .btnArea {
    width: 12.3rem;
  }

  .background .container .btnArea .btn {
    width: 12.3rem;
    font-size: 0.9rem;
  }
}
