.background {
  position: relative;
  height: 60rem;
  background-color: #5ae676;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background .contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background .contents .top .title {
  padding: 1rem 1.5rem;
  background-color: #003175;
  border-radius: 10px;
  color: #fff;
}

.background .contents .mid {
  margin-top: 10rem;
}

.background .contents .mid h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  color: #011633;
}

.background .contents .mid p {
  text-align: center;
  font-size: 1.5rem;
  color: #011633;
  margin-top: 1rem;
  line-height: 2rem;
  font-weight: 700;
}

.background .contents .bottom {
  margin-top: 10rem;
}

.background .contents .bottom button {
  font-size: 1.4rem;
  font-weight: 800;
  width: 23rem;
  height: 5rem;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 15px 3px #00000025;
  background-color: #0a0e37;
}
