.background {
  height: 60rem;
  background: url("../../../../assets/registPage/background.png") no-repeat;
  background-size: 100% 100%;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background .title {
  position: absolute;
  width: 70vw;
  margin: 0 auto;
  top: calc(3rem + 6rem);
}

.background .title h1 {
  color: #fff;
  font-size: 3.5rem;
}

.background .contents {
  display: flex;
  flex-direction: column;
}

.background .contents h2 {
  color: #5ae676;
  font-size: 3.3rem;
  font-weight: 700;
  text-align: center;
}

.background .contents .day {
  margin-top: 2rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.background .contents .box {
  height: 18rem;
  border-radius: 40px;
  margin: 2rem auto 0 auto;
  background-color: #5ae676;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.background .contents .box .dashes {
  height: 10rem;
  border: 0.1rem dashed #000;
}

.background .contents .box .price {
  margin-top: 1.5rem;
}

.background .contents .box p {
  color: #000;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.background .contents .box .box1,
.background .contents .box .box2,
.background .contents .box .box3 {
  margin: 0 3rem;
}

.background .contents .box .box3 p {
  font-weight: 900;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .background {
    height: 100vh;
  }

  .background .title h1 {
    font-size: 3rem;
  }

  .background .contents h2 {
    font-size: 2.2rem;
  }

  .background .contents .day {
    font-size: 1.4rem;
  }

  .background .contents .box {
    height: 14rem;
    margin: 5rem auto 0 auto;
  }

  .background .contents .box .dashes {
    height: 8rem;
    border: 0.1rem dashed #000;
  }

  .background .contents .box .price {
    margin-top: 1.5rem;
  }

  .background .contents .box p {
    color: #000;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .background .contents .box .box1,
  .background .contents .box .box2,
  .background .contents .box .box3 {
    margin: 0 2rem;
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .background {
    height: 100vh;
  }

  .background .title h1 {
    font-size: 2.5rem;
  }

  .background .contents h2 {
    font-size: 2rem;
  }

  .background .contents .day {
    font-size: 1.4rem;
  }

  .background .contents .box {
    height: 11rem;
    margin: 3rem auto 0 auto;
    border-radius: 20px;
  }

  .background .contents .box .dashes {
    height: 6rem;
    border: 0.1rem dashed #000;
  }

  .background .contents .box .price {
    margin-top: 1.5rem;
  }

  .background .contents .box p {
    color: #000;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .background .contents .box .box1,
  .background .contents .box .box2,
  .background .contents .box .box3 {
    margin: 0 1rem;
  }
}

@media all and (max-width: 479px) {
  .background {
    height: 100vh;
  }

  .background .title h1 {
    font-size: 2.5rem;
  }

  .background .contents h2 {
    font-size: 1.8rem;
  }

  .background .contents .day {
    font-size: 1.3rem;
  }

  .background .contents .box {
    height: 9.5rem;
    margin: 3rem auto 0 auto;
    border-radius: 20px;
  }

  .background .contents .box .dashes {
    height: 5rem;
    border: 0.1rem dashed #000;
  }

  .background .contents .box .price {
    margin-top: 1.5rem;
  }

  .background .contents .box p {
    color: #000;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
  }

  .background .contents .box .box1,
  .background .contents .box .box2,
  .background .contents .box .box3 {
    margin: 0 1rem;
  }
}

@media (max-width: 1445px) {
  .background .title {
    width: 70vw;
  }
}

@media (max-width: 1384px) {
  .background .title {
    width: 80vw;
  }
}

@media (max-width: 1210px) {
  .background .title {
    width: 90vw;
  }
}

@media (max-width: 1080px) {
  .background .title {
    width: 90vw;
  }
}
