.background {
  height: 100vh;
  background: url("../../../../assets/registPage/background.png") no-repeat;
  background-size: 100% 100%;
}

.background .size {
  width: 67vw;
  margin: 0 auto;
  padding-top: 15vh;
}

.background .size .contents {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
}

.background .size h1 {
  color: #fff;
  font-size: 3.5rem;
}

.background .size .contents h2 {
  color: #5ae676;
  font-size: 3.3rem;
  font-weight: 700;
  text-align: center;
}

.background .size .contents .day {
  margin-top: 2rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.background .size .contents .box {
  height: 18rem;
  border-radius: 40px;
  margin: 2rem auto 0 auto;
  background-color: #5ae676;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.background .size .contents .box .dashes {
  height: 10rem;
  border: 0.1rem dashed #000;
}

.background .size .contents .box .price {
  margin-top: 1.5rem;
}

.background .size .contents .box p {
  color: #000;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.background .size .contents .box .box1,
.background .size .contents .box .box2,
.background .size .contents .box .box3 {
  margin: 0 3rem;
}

.background .size .contents .box .box3 p {
  font-weight: 900;
}
