.background {
  height: 140rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
}

.background .title {
  position: absolute;
  width: 70vw;
  top: 9rem;
}

.background .title h1 {
  font-size: 3.5rem;
}

.background .contents {
  width: 70vw;
  margin: 20.3rem auto 0 auto;
}

.background .contents .mapArea {
  text-align: center;
  width: 60vw;
  margin: 0 auto;
}

.background .contents .mapArea p {
  font-size: 2rem;
  font-weight: 700;
}

.background .contents .mapArea .map {
  margin: 0 auto;
  margin-top: 3.5rem;
  width: 80%;
  height: 28rem;
  border-radius: 10px;
}

.background .contents .traffic {
  margin-top: 13rem;
}

.background .contents .traffic h2,
.background .contents .traffic p {
  line-height: 1.5rem;
  font-weight: 700;
}

.background .contents .traffic h2 {
  font-size: 2rem;
}

.background .contents .traffic p {
  font-size: 1.1rem;
}

.background .contents .traffic .trail p {
  margin-top: 1rem;
}

.background .contents .traffic .bus {
  margin-top: 4rem;
}

.background .contents .traffic .bus .container {
  margin-top: 1rem;
  display: flex;
}

.background .contents .traffic .bus .container .two {
  margin-left: 7rem;
}

.background .contents .traffic .parking {
  margin-top: 4rem;
}

.background .contents .traffic .parking p {
  margin-top: 1rem;
}

.background .contents .imgSection {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.background .contents .imgSection img {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .background {
    height: 110rem;
  }

  .background .title {
    top: 6rem;
  }

  .background .contents {
    margin-top: 15.3rem;
  }

  .background .contents .mapArea .map {
    width: 90%;
    height: 20rem;
  }

  .background .contents .traffic,
  .background .contents .mapArea {
    width: 70vw;
  }

  .background .contents .traffic h2,
  .background .contents .traffic p {
    line-height: 1.3rem;
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .background {
    height: 90rem;
  }

  .background .title {
    top: 6rem;
  }

  .background .title h1 {
    font-size: 2.5rem;
  }

  .background .contents {
    margin-top: 13.3rem;
  }

  .background .contents .traffic,
  .background .contents .mapArea {
    width: 80vw;
  }

  .background .contents .mapArea .map {
    width: 100%;
    height: 15rem;
  }

  .background .contents .mapArea p {
    font-size: 1.5rem;
  }

  .background .contents .traffic h2,
  .background .contents .traffic p {
    line-height: 1rem;
  }

  .background .contents .traffic {
    margin-top: 8rem;
  }

  .background .contents .traffic h2 {
    font-size: 1.5rem;
  }

  .background .contents .traffic p {
    font-size: 0.9rem;
  }

  .background .contents .traffic .bus .container .two {
    margin-left: 6rem;
  }
}

@media all and (max-width: 479px) {
  .background {
    height: 85rem;
  }

  .background .title {
    top: 6rem;
  }

  .background .title h1 {
    font-size: 2rem;
  }

  .background .contents {
    margin-top: 12.3rem;
  }

  .background .contents .traffic,
  .background .contents .mapArea {
    width: 80vw;
  }

  .background .contents .mapArea .map {
    width: 100%;
    height: 11rem;
  }

  .background .contents .mapArea p {
    font-size: 1.2rem;
  }

  .background .contents .traffic h2,
  .background .contents .traffic p {
    line-height: 1rem;
  }

  .background .contents .traffic {
    margin-top: 7rem;
  }

  .background .contents .traffic h2 {
    font-size: 1.5rem;
  }

  .background .contents .traffic p {
    font-size: 0.9rem;
  }

  .background .contents .traffic .bus .container .two {
    margin-left: 3rem;
  }
}

@media (max-width: 1445px) {
  .background .contents,
  .background .title {
    width: 70vw;
  }
}

@media (max-width: 1384px) {
  .background .contents,
  .background .title {
    width: 80vw;
  }
}

@media (max-width: 1210px) {
  .background .contents,
  .background .title {
    width: 90vw;
  }
}

@media (max-width: 1080px) {
  .background .contents,
  .background .title {
    width: 90vw;
  }
}
