.background {
  width: 100%;
  height: 21rem;
  position: relative;
  background-color: #000;
}

.background .size {
  margin: 0 auto;
  width: 67vw;
}

.background .size .contents {
  padding-top: 2.5rem;
  display: flex;
}

.background .size .contents img {
  height: 100%;
}

.background .size .contents .container {
  display: flex;
  margin-left: 5rem;
}

.background .size .contents .container p {
  color: #fff;
  line-height: 2.5rem;
  font-size: 1.3rem;
  margin: 0 2rem;
}

.background .size .secContents {
  margin-top: 1.6rem;
}

.background .size .secContents span {
  color: #9e9e9e;
  line-height: 1.5rem;
  font-size: 0.85rem;
}

.background .sponsor {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6.3rem;
  background-color: #2b2b2b;
}

.background .sponsor span {
  color: #c7c7c7;
  font-size: 2rem;
  line-height: 6.5rem;
  margin-left: 3rem;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
}

@media all and (min-width: 576px) and (max-width: 767px) {
  .background .size .contents .container {
    margin-left: 2rem;
  }

  .background .size .contents .container p {
    font-size: 1.2rem;
    margin: 0 1rem;
  }

  .background .sponsor span {
    font-size: 1.5rem;
  }
}

@media all and (min-width: 480px) and (max-width: 575px) {
  .background .size .contents img {
    height: 2rem;
    margin: auto 0;
  }

  .background .size .contents .container {
    margin-left: 1.2rem;
  }

  .background .size .contents .container p {
    font-size: 1.1rem;
    margin: 0 0.8rem;
  }

  .background .sponsor span {
    font-size: 1.3rem;
  }
}

@media all and (max-width: 479px) {
  .background .size .contents img {
    height: 1.5rem;
    margin: auto 0;
  }

  .background .size .contents .container {
    margin-left: 1rem;
  }

  .background .size .contents .container p {
    font-size: 0.8rem;
    margin: 0 0.8rem;
  }

  .background .size .secContents span {
    font-size: 0.7rem;
  }

  .background .sponsor span {
    font-size: 1.1rem;
  }
}

@media (max-width: 1445px) {
  .background .size {
    width: 70vw;
  }
}

@media (max-width: 1384px) {
  .background .size {
    width: 80vw;
  }
}

@media (max-width: 1210px) {
  .background .size {
    width: 90vw;
  }
}

@media (max-width: 1080px) {
  .background .size {
    width: 95vw;
  }
}

@media (max-width: 1024px) {
  .background .size {
    width: 90vw;
  }
}
