@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

* {
  font-family: "NanumSquare", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  min-width: 360px;
}
